<div class="container">
  <nav class="categories">
    <ul>
      <li><button class="btn btn-dark"><a class="text-white" routerLink="/hot">Hot</a></button> </li>
      <li><button class="btn btn-dark"><a class="text-white" routerLink="/new">New</a></button> </li>
      <li><button class="btn btn-dark"><a class="text-white" routerLink="/controversial">Controversial</a></button></li>
      <li><button class="btn btn-dark"><a class="text-white" routerLink="/top">Top</a></button> </li>
    </ul>
  </nav>
</div>