<div class="container">
    <h1>Hot Posts</h1>  

    <div *ngFor="let currentPost of posts" class="panel panel-default">
      <div class="panel-body">
            <app-hotdetail [post]="currentPost"></app-hotdetail>
      </div>
    </div>
    
    <h3 (click)="showForm()">Add a new post to this topic</h3>
    <div *ngIf="display">
        <label>Enter your post here</label>
        <input #newPost>
        <label>Enter your username here</label>
        <input #newUser>
        <button class="btn btn-primary" (click)="submitForm(newPost.value, newUser.value)">Submit your post</button>
    </div>
</div>
